# python-todoist only requires "requests"; the rest is for this app and this app's dependencies.
chardet
dateparser
future
idna
parsedatetime
python-dateutil
pytz
pyyaml
regex
requests
six
tzlocal
urllib3
click
